.img-button img {
    transition: transform 0.3s ease-in-out;
}

.img-button:hover img {
    transform: scale(1.1);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 70%;
    background-color: rgba(255, 255, 255, 0.5); /* Color de los botones del carrusel */
    border-radius: 20%;
}

/* Estilos para el modal */
.bg-success-transparent {
    background-color: rgba(40, 167, 69, 0.7) !important; /* Cambiar el color y nivel de transparencia */
    border: none !important; /* Eliminar el borde si lo hubiera */
}

.text-white {
    color: white !important; /* Cambiar el color del texto a blanco */
}
.btn-outline-custom {
    border-color: #fff; /* Color del borde */
    color: #fff; /* Color del texto */
    transition: transform 0.3s ease; /* Transición suave */
    border-radius: 20px; /* Bordes redondeados */
    margin-left: 10px;
    margin-right: 10px;
}

/* Efecto al pasar el mouse */
.btn-outline-custom:hover {
    transform: scale(1.4); /* Escala aumentada */
}